<h1>Password reset</h1>

<p>Para trocar sua senha, clique no link abaixo:</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>Esse link expirará dentro de quatro horas.</p>

<p>
  Se você não pediu por esse e-mail, favor desconsiderar essa mensagem.
</p>