<% provide(:title, "Eventos") %>
<div class="pst-corpo-main-container">
  <div class="pst-main-calendar-container">
    <div class="main clearfix">
      <div class="pst-calendar-container">
        <div class="pst-calendar-content">
          <h2>Calendário de Eventos</h2>
          <div id="calendar">
          	<%= month_calendar events: @eventos do |date, meetings| %>
            <%= date.day %>
          
            <% meetings.each do |meeting| %>
              <div>
                <%= link_to meeting.titulo, meeting %>
              </div>
            <% end %>
          <% end %>
          
          </div>
        </div>
      </div>
    </div>  
  </div>
  <%= render 'layouts/footer' %>
</div>  
