<%= render 'layouts/header' %>

<div class="corpo-main-container">
  
  <% @posts.each do |p| %>
      
      <%= link_to p.titulo, root_path %> 
      <br>
      
  <% end %>

</div>

<%= render 'layouts/footer' %>