 
<div class="corpo-main-container">
    <div class='arquivos-main-container'>
        <div class="main wrapper clearfix">
            <h1>Arquivos</h1>
        <div class="pst-container">
            <div class="pst-content">
              <div class="table-responsive">
                <table id="tablesorter" class="display" cellspacing="0" width="100%">
                  <thead>
                      <tr>
                        <th>Mês</th>
                        <th>Nº de Publicações</th>
                      </tr>
                  </thead>
                  <tbody>
                      <% @datas_min.each do |data| %>
                        <tr>
                          <td><%= link_to imprime_data_arquivo(data) , arquivo_show_path(:month => data.month, :year => data.year) %></td>
                          <td><%= @data_freq.shift %></td>
                        </tr>
                      <% end %>
                  </tbody>
              </table>
              </div>
            </div>
          </div>
        </div>
    </div>
    
    
<%= render 'layouts/footer' %>
</div>
                