<%= render 'layouts/header' %>

<div class="corpo-main-container">
  
  <% @datas_min.each do |data| %>
      
      <%= link_to imprime_data_arquivo(data), arquivo_show_path(:month => data.month, :year => data.year) %> 
      <span class="badge"> <%= @data_freq.shift %></span>
      <br>
      
  <% end %>

</div>

<%= render 'layouts/footer' %>