<% provide(:title, "Dashboard") %>
<div class="corpo-main-container">
    <div class="dashboard-container">
        <div class="pp-main-container">
            <div class="main wrapper clearfix">
                <h1>Dashboard</h1>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <div class="main wrapper clearfix">
                      <p>Menus</p> 
                  </div>
                </div>
                <div class="col-lg-8 col-md-4 col-sm-12 col-xs-12">
                    <div class="main wrapper clearfix">
                        <p>Mensagem de Bem-vindo</p>
                    </div>  
                </div>    
              </div>    
            </div> 
        </div>
      </div>
    <%= render 'layouts/footer' %>
    </div>
</div> 