<%= render 'layouts/header' %>
<div class="corpo-main-container">
    <div class="main-container">
        <div class="img-container-home">
			<%= image_tag("letrasuff.jpg", class: 'img-responsive') %>
		</div>
        <div class="main wrapper clearfix">
            
            <article class="index-article">
                <h1>LABPEC</h1>
                <header>
                    <p> O Laboratório de Pesquisa em contato Linguístico - LABPEC da UFF - foi criado para desenvolver estudos e pesquisas na temática de Línguas em/de contato em diferentes situações etnolinguísticas e culturais. As pesquisas desenvolvidas têm por objetivo central identificar, descrever e analisar situações de manutenção, perda e revitalização de línguas e culturas autóctones e alóctones; de contexto de imigração; de contexto de escravidão; de fronteiras linguísticas, incluindo aquelas que se estabelecem nos limites geográficos e ainda situações de ensino e aprendizagem de línguas. Como resultado das investigações, o grupo tem por meta avaliar e propor ações de política e planejamento linguístico para diferentes situações de/em contato estudadas. As pesquisas desenvolvidas no LABPEC estão inseridas na Linha História, Política e Contato Linguístico do Programa de Pós-graduação em Estudos de Linguagem da Universidade Federal Fluminense.  Os produtos das investigações desenvolvidas no grupo apresentados em teses de doutorado, dissertações de mestrado e demais publicações em periódicos e livros da área. Desde 2015 desenvolvemos um projeto de cooperação internacional bilateral entre a CAPES e o DAAD em parceria com a Europa-Universität Viadrina, de cotutela doutoral no âmbito de um PROBRAL II (Projeto Brasil Alemanha) na área de estudos culturais, através do qual abordamos temas sobre processos de transculturalidade e etnicidade em movimento (B/orders in motion).</p>
                </header>
                
                <footer>
                    
                </footer>
            </article>
            <aside>
                <div class="center">
                    <h2>Bem Vindo!</h2>
                    <p>Sou um parágrafo. Clique aqui para editar-me e adicionar o seu próprio texto. É fácil! Basta clicar em "Editar Texto" ou clicar duas vezes sobre mim e você poderá adicionar o seu próprio conteúdo e trocar fontes.</p>
                </div>
            </aside>
        </div>
    </div> 
    <div class="coordenadores-container">
        <div class="row r-coordenadores">
            <div class="main wrapper clearfix">
                <h1>Coordenadores</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum..</p>
            </div>
        </div>
    </div>    
    <div class="coordenadores-container">
        <div class="row r-coordenadores">
            <div class="main wrapper clearfix">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <h2>Fulana</h2>
                    <div class="">
                        <img class="" style="width:100px;height:100px;" src="">      
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="">
                        <h3>Biografia:</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum..</p>
                        <a href="#" class="btn btn-primary btn-lg" role="button">Saiba Mais</a>
                    </div>
                </div>    
            </div>
        </div>
    </div>
    <div class="coordenadores-container">
        <div class="row r-coordenadores">
            <div class="main wrapper clearfix">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <h2>Ciclana</h2>
                    <div class="">
                        <img class="" style="width:100px;height:100px;" src="">      
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="">
                        <h3>Biografia:</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum..</p>
                        <a href="#" class="btn btn-primary btn-lg" role="button">Saiba Mais</a>
                    </div>
                </div>    
            </div>
        </div>
    </div>
    
    
    
    <%= render 'layouts/footer' %>
</div>