<%= render 'layouts/header' %>
<div class="corpo-main-container">
    <div class="main-container">
        <div class="img-container-home">
			<%= image_tag("letrasuff.jpg", class: 'img-responsive') %>
		</div>
        <div class="main wrapper clearfix">
            
            <article class="index-article">
                <h1>LABPEC</h1>
                <header>
                    <p> O Laboratório de Pesquisa em contato Linguístico - LABPEC da UFF - foi criado para desenvolver estudos e pesquisas na temática de Línguas em/de contato em diferentes situações etnolinguísticas e culturais. As pesquisas desenvolvidas têm por objetivo central identificar, descrever e analisar situações de manutenção, perda e revitalização de línguas e culturas autóctones e alóctones; de contexto de imigração; de contexto de escravidão; de fronteiras linguísticas, incluindo aquelas que se estabelecem nos limites geográficos e ainda situações de ensino e aprendizagem de línguas. Como resultado das investigações, o grupo tem por meta avaliar e propor ações de política e planejamento linguístico para diferentes situações de/em contato estudadas. As pesquisas desenvolvidas no LABPEC estão inseridas na Linha História, Política e Contato Linguístico do Programa de Pós-graduação em Estudos de Linguagem da Universidade Federal Fluminense.  Os produtos das investigações desenvolvidas no grupo apresentados em teses de doutorado, dissertações de mestrado e demais publicações em periódicos e livros da área. Desde 2015 desenvolvemos um projeto de cooperação internacional bilateral entre a CAPES e o DAAD em parceria com a Europa-Universität Viadrina, de cotutela doutoral no âmbito de um PROBRAL II (Projeto Brasil Alemanha) na área de estudos culturais, através do qual abordamos temas sobre processos de transculturalidade e etnicidade em movimento (B/orders in motion).</p>
                </header>
                
                <footer>
                    
                </footer>
            </article>
            <aside>
                <div class="center">
                    <h1>Bem Vindo!</h1>
                    <p>Sou um parágrafo. Clique aqui para editar-me e adicionar o seu próprio texto. É fácil! Basta clicar em "Editar Texto" ou clicar duas vezes sobre mim e você poderá adicionar o seu próprio conteúdo e trocar fontes.</p>
                </div>
            </aside>
        </div>
    </div>    
    
</div>