<%= render 'layouts/header' %>
<div class="corpo-main-container">
    <div class="main-container">
        <div class="main wrapper clearfix">
            <p>olá eu sou a homepage</p>
        </div>
    </div>    
</div>