 
<% provide(:title, "Linhas de Pesquisa") %>
<div class='lp-corpo-main-container'>
    <div class="lp-main-container">
        <div class="main wrapper clearfix">
            <h1>Heading 1</h1>
            <div class='row r-pesquisa'>
                <div class='photo col-lg-6 col-md-6 col-sm-6 col-xs-12'>
                  <a href=""><%= image_tag("idling.jpg", class: 'lp-cl-img img-responsive') %></a>
                </div>
                <div class='description col-lg-6 col-md-6 col-sm-6 col-xs-12'>
                  <h4>Heading 4</h4>
                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
                </div>
            </div>
        </div>
    </div>  
    <div class="lp-main-container">
        <div class="main wrapper clearfix">
            <h1>Heading 1</h1>
            
            <div class='row r-pesquisa'>
                <div class='photo col-lg-6 col-md-6 col-sm-6 col-xs-12'>
                  <a href=""><%= image_tag("pling.jpg", class: 'lp-cl-img img-responsive') %></a><!----testar imagem------->
                </div>
                <div class='description col-lg-6 col-md-6 col-sm-6 col-xs-12'>
                  <h4>Heading 4</h4>
                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
                </div>
            </div>
        </div>
    </div>
    <div class="lp-main-container">
        <div class="main wrapper clearfix">
            <h1>Heading 1</h1>
            
            <div class='row r-pesquisa'>
                <div class='photo col-lg-6 col-md-6 col-sm-6 col-xs-12'>
                  <a href=""><%= image_tag("redes.jpg", class: 'lp-cl-img img-responsive') %></a><!----testar imagem------->
                </div>
                <div class='description col-lg-6 col-md-6 col-sm-6 col-xs-12'>
                  <h4>Heading 4</h4>
                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
                </div>
            </div>
        </div>
    </div>
<%= render 'layouts/footer' %>
</div>