<div class="pnl-corpo-main-container">
    <div class="pnl-main-container">
      <div class="row">
        <div class='quadrado col-lg-2 col-md-2 col-sm-2 col-xs-0'>
            <h3> </h3>
        </div>
        <div class='quadrado col-lg-8 col-md-8 col-sm-8 col-xs-12'>
            <h3>Heading 3</h3>
        </div>
        <div class='quadrado col-lg-2 col-md-2 col-sm-2 col-xs-0'>
            <h3> </h3>
        </div>
      </div>
        <div class='clicavel col-lg-4 col-md-4 col-sm-4 col-xs-12'>
          
        </div>
    </div>
<%= render 'layouts/footer' %>
</div>