<div class="pst-corpo-main-container">
  <div class="pst-main-container">
    <div class="main clearfix">
      <h2>Editar Documento</h2>
      <div class="pst-container">
        <div class="pst-content">
          <%= render 'form', documento: @documento %>
        </div>
        <div class="pst-button">
          <%= link_to 'Visualizar', @documento %> | <%= link_to 'Voltar', documentos_path %>
        </div>
      </div>
    </div>  
  </div>
  <%= render 'layouts/footer' %>
</div>

