.pst-main-calendar-container h1{background-color:black;border-radius:2px;padding:15px;font-size:15px;color:white;margin-top:0px;}
.pst-main-calendar-container{-webkit-box-shadow: 0 5px 10px #aaa;-moz-box-shadow: 0 5px 10px #aaa;box-shadow: 0 5px 10px #aaa;background-color: white;padding-left:10px;padding-right:10px;padding-top:10px;padding-bottom:30px;}
.pst-calendar-container{}
.pst-calendar-content{}
.pst-button{text-align:left;padding:5px;}
.pst-content a:hover{background-color:transparent !important;text-decoration:none;}
.pst-main-calendar-container h2{text-align: left;color:#23527c;font-size:2em;margin-bottom:40px;border-bottom: 1px solid gray;}
.cld-nav{margin-left:5px;margin-right:5px;}
.cld-nav a{color:yellow;}
.cld-btn{min-width: 80px;}
.calendar-heading{padding-bottom: 20px;}
.calendar-title{color:#23527c;font-size: 22px;font-weight: bold;}
.calendar-title h3{max-width: 200px;}

#calendar table {
border-collapse: collapse;
max-width: 100% !important;
}

#calendar td,
#calendar th {
font-family: "Lucida Grande",arial,helvetica,sans-serif;
font-size: 10px;
padding: 6px;
border: 1px solid #999;
}

#calendar th {
background: #DDD;
color: #666;
text-align: center;
width: 14.2857142857143%;
}

#calendar td {
background: #FFF;
color: #777;
height: 80px;
vertical-align: top;
font-size: 1em;
}

#calendar .notmonth {
color: #CCC;
}

#calendar #month {
margin: 0;
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
}

#calendar #month a, #calendar #month a:hover {
text-decoration: none;
padding: 0 10px;
color: #999;
}

#calendar .today {
background-color: #D7F2FF;
}

#calendar ul {
margin: 0;
margin-top: 5px;
padding: 0;
list-style: none;
}

#calendar li {
margin: 0;
padding: 0;
font-size: 11px;
text-align: center;
}

#calendar .has-events {
  
  background-color: #8c8c8c;
  
}


@media only screen and (max-width: 768px) {
#calendar td {
height: 70px;
font-size: 14px;
}
#calendar td,
#calendar th {
font-family: "Lucida Grande",arial,helvetica,sans-serif;
font-size: 8px;
padding: 5px;
}
}

@media only screen and (max-width: 480px) {
#calendar td {
height: 50px;
font-size: 12px;
}
#calendar td,
#calendar th {
font-size: 8px;
padding: 4px;
}
}