.footer-container{margin-top: 23px;background-color: black;height:100%;}
.copyright p{padding-left: 30px;font-size: 14px;color:white;}
.copyright{padding-top: 25px;}
.in {padding-top: 8px;padding-bottom:8px;color:#636363;text-align:center;}
.in p{margin-bottom:0px;}
.logoIN{padding-left:35%;}
.logoIN{height: 40px !important;}

@media only screen and (min-width: 1140px) {



}