/*----------aqui está o css do header--------------*/

.header-main-container{background: rgba(256, 256, 256, 0.5);padding-top: 10px;padding-bottom: 10px;}
.logo{margin-left: 25px;}
.logo1{width:95px;height:96px;border:0;margin-left: 90px;padding-top: 15px;}
.logo2{padding-top: 4px;border:0;}
.frase-inline{margin-left: 3px;margin-top: 18px;font-family: Calibri Light;font-size: 32px;}
.frase-inline p{padding-top: 15px;}
.header-container {height: 125px;padding-top: 5px;}

