// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {color: #222;font-size: 1em;line-height: 1.4;}

::-moz-selection {background: #b3d4fc;text-shadow: none;}

::selection {background: #b3d4fc;text-shadow: none;}

hr {display: block;height: 1px;border: 0;border-top: 1px solid #ccc;margin: 1em 0;padding: 0;}

audio,
canvas,
iframe,
img,
svg,
video {vertical-align: middle;}

fieldset {border: 0;margin: 0;padding: 0;}
textarea {resize: vertical;}
.browserupgrade {margin: 0.2em 0;background: #ccc;color: #000;padding: 0.2em 0;}
body {font: 16px/22px Calibri, sans-serif, roboto, Helvetica, Helvetica Neue, Arial;}
article header p{text-indent: 20px;text-align: justify;}
.row h1 {font-size: 1.6em;padding-bottom: 5px;border-bottom: 0.3px solid black;margin-right: 20px;}
.pag-container h1, h2, h3 {margin-top: 30px;margin-bottom: 30px;}
.main p{text-indent: 20px;text-align: justify;}
.main aside h1{font-size: 24px;margin-top: 15px;margin-bottom: 15px;}


/*----------aqui está o css do corpo--------------*/

.pag-container{background: url(uff2.jpg) no-repeat center bottom fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
.corpo-main-container{background: rgba(256, 256, 256, 0.5);padding-top: 10px;padding-bottom: 20px;margin-top: 6px;}
.main-container{-webkit-box-shadow: 0 5px 10px #aaa;-moz-box-shadow: 0 5px 10px #aaa;box-shadow: 0 5px 10px #aaa;background-color: white;padding-bottom: 60px;padding-left: 10px;padding-right: 10px;padding-top: 10px;}
.wrapper {width: 90%;margin: 0 5%;}
.main-container-img{width: 100%;height: 250px;}
.main-container-img{width: 100%;height: 250px;}
.img-container{height: 100%;width: 100%;background-position: center;background-position: bottom;padding-left: 10px;padding-right: 10px;padding-top: 10px;background-repeat: no-repeat;}
.main{min-height: 400px;}
.r-pesquisa{margin-bottom: 60px;}
.r-borda-dotted{border-right: dotted 1.5px gray; }
.main-title{margin-top: 10px !important;}
.img-container-home img{min-width: 100%;max-height: 400px;}
.main {padding: 0px 0;}
.main article h1 {font-size: 2em;padding-bottom: 5px;border-bottom: 1px solid black;}
.main h1, h2, h3 {margin-top: 30px;margin-bottom: 30px;}
.main aside {color: white;padding: 0px 3% 10px;border-top-width: 20px;}


/*----------aqui está o css geral------------------*/

.center{text-align: center;}
.margem{margin-left: 0px;margin-right: 0px;margin-top: 15px;margin-bottom: 15px;padding: 10px;background: white;}
.header-container,.main aside {background: #fff;}
.main-container aside{border-top: 5px solid #e44d26;margin-top: 65px;background: #F06E28;}
.title {color: white;}
.coordenadores{min-height: 288px;}
.coordenadores a:hover{text-decoration: none;color: yellow;}
.contato{min-height: 288px;}
.links{min-height: 288px;}
.links a:hover{text-decoration: none;color: yellow;}

/*----------aqui está o css das imagens------------------*/

.lp-img{padding: 5px;-webkit-box-shadow: 0 5px 10px #aaa;-moz-box-shadow: 0 5px 10px #aaa;box-shadow: 0 5px 10px #aaa;background-color: white;}



/*----------aqui está o css das media querys--------------*/
@media only screen and (min-width: 480px) {
    .pag-container{padding-right: 1%;padding-left: 1%;padding-top: 1%;background-color: #F8F8FF;}

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {display: inline;}
    .oldie nav a {margin: 0 0.7%;}
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */
    .pag-container{padding-right: 1%;padding-left: 1%;padding-top: 1%;background-color: #F8F8FF;}
    .header-container,.main aside {-webkit-box-shadow: 0 5px 10px #aaa;-moz-box-shadow: 0 5px 10px #aaa;box-shadow: 0 5px 10px #aaa;}
    .frase-inline{margin-left: 0px;font-family: Calibri Light;font-size: 20px;height:96px;}

/* ============
    WIDE: Menu
   ============ */

    .title {float: left;}
    .logo{border: 0;}


/* ============
    WIDE: Main
   ============ */

    .main article {float: left;width: 57%;}
    .main aside {float: right;width: 34%;}
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */
    
    .pag-container{padding-right: 12%;padding-left: 12%;padding-top: 1%;background-color: #F8F8FF;}
    .header-main-container{padding-right: 2%;padding-left: 2%;}
    .corpo-main-container{padding-right: 2%;padding-left: 2%;}
    /*width: 1026px;  1140px - 10% for margins */
    .wrapper {margin: 0 auto;}
}


