/*-------------aqui está o css do painel admin--------------*/

.pnl-main-container h1{background-color:black;border-radius:2px;padding:15px;font-size:15px;color:white;margin-top:0px;}
.pnl-corpo-main-container{background: rgba(256, 256, 256, 0.5);padding:20px;padding-top:10px;}
.pnl-main-container{-webkit-box-shadow: 0 5px 10px #aaa;-moz-box-shadow: 0 5px 10px #aaa;box-shadow: 0 5px 10px #aaa;background-color: white;padding-left:60px;padding-right:60px;padding-top:20px;padding-bottom:30px;margin-top: 20px;}
.pnl-content a:hover{background-color:transparent !important;text-decoration:none;}
.pnl-main-container h2{text-align: left;color:#23527c;font-size:2em;margin-bottom:40px;border-bottom: 1px solid gray;}
.pnl-square{border: solid black;margin-bottom: 20px;margin-top: 10px;}
.pnl-square h3{font-size: 1.6em;padding-bottom: 5px;text-align: center;}
.pnl-square p{padding-right: 15px; padding-left: 15px;}
.pnl-click{margin-bottom: 10px;}


/*-------------aqui está o css do login admin--------------*/

.lg-form{padding:1.5em;-webkit-box-shadow: 0 5px 10px #aaa;-moz-box-shadow: 0 5px 10px #aaa;box-shadow: 0 5px 10px #aaa;background-color: white;border-top: 10px solid #23527c;}
.lg-form-user{padding-bottom:20px;}
.lg-corpo-main-container{padding:20px;padding-top:0px;}
.lg-main-container{padding-left:60px;padding-right:60px;padding-top:10px;padding-bottom:30px;}
.lg-container{}
.lg-content{}
.lg-button{text-align:left;padding:5px;}
.lg-link a:hover{background-color:transparent !important;text-decoration:none;color:#ffff33 !important;}
.lg-link a:focus{color:yellow;}
.lg-link a:visited{color:blue;text-decoration:none;}
.lg-main-container h2{text-align: left;color:#23527c;font-size:2em;margin-bottom:40px;border-bottom: 1px solid gray;}




@media only screen and (min-width: 768px) {
  .lg-form-user{padding-bottom:20px;max-width: 60%;}
}