// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pst-main-container h1{background-color:black;border-radius:2px;padding:15px;font-size:15px;color:white;margin-top:0px;}
.pst-corpo-main-container{background: rgba(256, 256, 256, 0.5);padding:20px;}
.pst-main-container{-webkit-box-shadow: 0 5px 10px #aaa;-moz-box-shadow: 0 5px 10px #aaa;box-shadow: 0 5px 10px #aaa;background-color: white;}
.pst-container{padding:10px;}
.pst-content{padding:10px;}
.pst-button{text-align:left;padding:5px;}
.pst-content a:hover{background-color:transparent !important;text-decoration:none;}
.tablesorter th{padding-left:15px !important;padding-right:15px;}
.pst-header {height: 125px;padding-top: 5px}
.pst-header-container{}
.pst-corpo-header-container{background-color: white;}