<footer class="copyright">
    <div class="row">
        <div>
           Copyright &#169; 2016 - LABPEC todos os direitos reservados 
        </div>
        <div>
            <img src="../images/logoin.png"/>
        </div>
    </div>
</footer>