<header class="header-container hidden-xs">
    <div class="row">
        <div class="col-lg-6 col-md-7 col-sm-8 col-xs-12">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <a href="index.html"><img class="logo1 img-responsive" src="img/Logo.png" alt=""></a> 
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                    <a href="index.html"><img class="logo2 img-responsive" src="img/nomelinha.png" alt=""></a> 
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-5 col-sm-4 col-xs-12">
            <div class="frase-inline">
                <p>Laboratório de Pesquisas <br>
                em Contato Linguistíco</p> 
            </div>
        </div>    
    </div>    
</header>