<<<<<<< HEAD
<div class="header-main-container">
    <header class="header-container hidden-xs">
        <div class="row">
            <div class="col-lg-6 col-md-7 col-sm-8 col-xs-12">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                        <a href=""><%= image_tag("Logo.png", class: 'logo1, img-responsive') %></a> 
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                        <a href=""><%= image_tag("nomelinha.png", class: 'logo2, img-responsive') %></a> 
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-5 col-sm-4 col-xs-12">
                <div class="frase-inline">
                    <p>Laboratório de Pesquisas <br>
                    em Contato Linguistíco</p> 
                </div>
            </div>    
        </div>    
    </header>
    <nav class="navbar navbar-default navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="../Labpec/index.html">Home</a></li>
                <li><a href="../Labpec/linhasPesquisa.html">Linhas de pesquisa</a></li>
                <li><a href="../Labpec/teses.html">Teses e dissertações</a></li>
                <li><a href="../Labpec/publicacoes.html">Publicações</a></li>
                <li><a href="../Labpec/eventos.html">Eventos</a></li>
                <li><a href="../Labpec/parceiros.html">Parceiros</a></li>
              </ul>
              
            </div><!--/.nav-collapse -->
          </div>
    </nav>
</div>


